<p>Here is a list of all the relay legs that need to be run</p>
<div ng-repeat="raceLeg in vm.raceLegs">
    <p ng-bind="raceLeg.leg.order"></p>
    <p ng-bing="raceLeg.leg.distance"></p>
    <p ng-bind="raceLeg.leg.elevation"></p>
    <p ng-bind="raceLeg.runner"></p>
    <select ng-model="chosen_runner" ng-options="runner as runner.name for runner in vm.runners" ng-change="assignRunnerToLeg(chosen_runner, raceLeg._id)" >
        <option value="">Select a Runner</option>   
    </select>
    <br>
</div>
<a href="#/team">Team</a>
<a href="#/race">Race Info</a>
<a href='#/race-legs'>Relay Legs</a>