<div class="lander-body">

    <div class="lander-image col-md-4">
        <img src="images/lander-img.png" />
    </div>
    
    <div class="lander-content col-md-8">
        <p>Organize your team</p>
        <p>Track your runners</p>
        <p>View your stats</p>
        <p><a href="/users/create">Create an Account</a> to get started!</p>
    </div>
</div>