<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Help organize, manage and follow your team no matter how hectic the race is.</p>
<p>Download the mobile app to keep up to date on the go!</p>
<p><a href="/users/login">Login</a> or <a href="/users/create">Sign up</a> to get started!</p>

