<!DOCTYPE html>
<html>
  <head>
    <title>Relay Runner {{#if title}} - {{title}} {{/if}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1>Relay Runner</h1>
    {{{body}}}
  </body>
</html>
