<div ng-app="app">
	<div ng-view></div>	
</div>

<h2>This is the main landing page</h2>
<p>Here you can see your teams, races, results and more!</p>
<p>Share this account with other team members so they can update their leg info.</p>
<a href="/users/logout">Logout</a>