<div ng-app="app">
	<div ng-view></div>	
</div>

<script src="/bower/jquery-2.1.0.min/index.js"></script>
<script src="/bower/angular/angular.min.js"></script>
<script src="/bower/angular-route/angular-route.min.js"></script>
<script src="/javascripts/app/app.js"></script>
<script src="/javascripts/app/route-config.js"></script>
<script src="/javascripts/app/team/team.js"></script>
<script src="/javascripts/app/admin/admin.js"></script>
<script src="/javascripts/app/race/race.js"></script>
<script src="/javascripts/app/race-legs/race-legs.js"></script>

<a href="/users/logout">Logout</a>