<div ng-app="app">
	<div ng-view></div>	
</div>

<h2>This is the page that lets you add runners and their info to the team</h2>
<p>Share this account with other team members so they can update their leg info.</p>
<a href="/users/logout">Logout</a>