<h2>Create an account for your team to get started!</h2>
<div class="widget">
    <form name="create-user-form" id="create-user-form" method="post">
        <div class="form-group">
            <label for="teamName">Team Name</label>
            <input type="text" id="teamName" name="teamName" />
        </div>
        <div class="form-group">
            <label for="race">Race</label>
            <input type="text" id="race" name="race" />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" autocomplete="off" />
        </div>
        <div class="form-submit">
            <input type="submit" value="Create my account" />
        </div>
        <span style="color:red">{{error}}</span>
    </form>
</div>